name = "games"
main = "index.js"
compatibility_date = "2022-06-07"

kv_namespaces = [
  { binding = "games", id = "dcac29c99a834640839eb31c360882ee", preview_id = "c3adce3949b54df69f9da03b6feb14b1" },
  { binding = "borrowed", id = "b24abd6abc704ea8b702c6da9b3fab66", preview_id = "9dcae41ace404f24a77b3e27153d08a3" }
]

d1_databases = [
  { binding = "DB", database_name = "games", database_id = "51d83031-bf71-4f18-bc05-64ed949a6dfc" }
]

[triggers]
crons = ["12 6 * * *"]

[env.stage]
name = "games-stage"
vars = { STAGE = true, CFP_PASSWORD = "9f86d081884c7d659a2feaa0c55ad015a3bf4f1b2b0b822cd15d6c15b0f00a08" }

kv_namespaces = [
  { binding = "games", id = "c3adce3949b54df69f9da03b6feb14b1", preview_id = "c3adce3949b54df69f9da03b6feb14b1" },
  { binding = "borrowed", id = "9dcae41ace404f24a77b3e27153d08a3", preview_id = "9dcae41ace404f24a77b3e27153d08a3" }
]

d1_databases = [
  { binding = "DB", database_name = "games", database_id = "51d83031-bf71-4f18-bc05-64ed949a6dfc" }
]

